*.jsoneditor
*.xccheckout
.DS_Store
.clang-format
.idea/
.pt
.ruby-gemset
.ruby-version
.vscode/
Artsy Folio.xcodeproj/xcuserdata/
ArtsyFolio.app.dSYM.zip
ArtsyFolio.ipa
CHANGELOG_SHORT.md
Pods
Resources/CoreData/oss_stubbed_data.sqlite-shm
Resources/CoreData/oss_stubbed_data.sqlite-wal
build/
chairs/
config/screenshots/
fastlane/report.xml
kif_screenshots/
xcodebuild_error.log
xcuserdata
fastlane/README.md
.bundle
Artsy Folio.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.build
